@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

*{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    justify-content: center;
    -webkit-user-select: none;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track{
    border-radius: 200px;
    box-shadow: inset 0 0 500px #171717;
}
::-webkit-scrollbar-thumb{
    border-radius: 0px;
    background-color: white;
}

.navbar{
    display: flex;
    top: 0;
    background-color: #3447c7;
    position:sticky;
}

.nav-list{
    display: flex;
    align-items: center;
    padding-left: 1000px;
}

.nav-list li{
    list-style: none;
    padding: 30px;
    padding-bottom: 0px;
    margin-top: -300px;
    /* background-color: lightcoral; */
}

.nav-list li a{
    text-decoration:none;
    color: goldenrod;
    font-family: 'Roboto', sans-serif;
    /* background-color: lightcoral; */
    font-size: 18px;
    /* text-overflow: none; */
}

.nav-list li a:hover{
    /* text-decoration:underline; */
    color: white;
}

.statement{
    text-transform: capitalize;
    /* margin-top: -300px; */
    margin-top: -200px;
    color: white;
    margin-left: -370px;
    font-family:monospace;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23272a;
    border-left: none;
    border-radius: 3px;
    margin-top: -250px;
}

.logo img{
    width: 60%;
    border: 3px solid white;
    border-radius: 200px;
    animation: shine 3s linear infinite;
    caption-side: bottom, "Anadya";
}

.main-box{
    height:100vh;
    background-color: #3447c7;
    margin-top: -350px;
}

.heading{
    color: black;
    margin-left: 400px;
    font-size: 30px;
    padding-top: 300px;
    font-family: 'Roboto', sans-serif;
    /* -webkit-text-fill-color: transparent; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.website-description-on-entry{
    color: white;
    font-family: 'Niconne', cursive;
    font-size: 25px;
    margin-left: 100px;
}

.memorials{
    height: 300vh;
    background-color: #e84d4d;
    margin-top: -200px;
}

.mem-title{
    font-family: 'Roboto', sans-serif;
    padding-left: 100px;
    font-size: 50px;
    margin-top: -100px;
}

.mem-title h1{
    background-color: aqua;
}

.mr-gandhi img{
    width: 20%;
    margin-left: 300px;
    margin-top: 200px;
}

.gandhi-text{
    padding-left: 700px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: -200px;
    font-size: 20px;
}

.pulwama-people{
    padding-top: 500px;
}

.pulwama-heroes img{
    width: 30%;
    margin-left: 200px; 
}

.pulwama-text{
    padding-left: 700px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: -250px;
}

.kobebryant-basketball{
    padding-top: 500px;
}

.kobe-image img{
    width: 29%;
    margin-left: 190px;
}

.kobebryant-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-left: 700px;
    margin-top: -250px;
}

.curve-3{
    margin-top: -300px;
}

.curve-4{
    margin-top: -5px;
}

.curve-5{
    margin-top: -360px;
}

.motive{
    background-color: yellowgreen;
    margin-top: -5px;
    height: 60vh;
}
 
.say-hero{
    padding-left: 550px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 100px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.say-bottom{
    font-family: 'Roboto', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #e84d4d;
    font-size: 50px;
    padding-left: 50px;
}

.messages{
    height: 300vh;
    background-color: black;
}

.message-hero{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-left: 400px;
    font-size: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: greenyellow;
}

.message1{
    color: white;
    padding-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding-top: 400px;
}

.message2{
    color: white;
    padding-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding-top: 500px;
}

.arrows img{
    width: 5%;
    margin-top: 100px;
    margin-left: 200px;
    background-color: wheat;
    border-radius: 20%;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    50%{
        background-color: #3447c7;
    }
}

.message3{
    color: white;
    padding-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding-top: 500px;
}

.curve-6{
    padding-top: 100px;
}

.learnings{
    padding-top: 500px;
    background-color: #3447c7;
    color: white;
    text-align: center;
}

.textoflearners{
    padding-top: 00px;
    padding-bottom: 300px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.footer{
    height: 5vh;
    background-color: #e84d4d;
}

.footer-text{
    font-family: 'Niconne', cursive;
    font-size: 30px;
    text-align: center;
}